.background {
  background-image: url("../images/home.png") !important ;
  position: absolute;
  width: 100%;
  height: 52vw;
  top: 4.2vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  position: absolute;
  left: 2.8vw;
  right: 55vw;
  top: 26vw;
  bottom: 88.35%;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 3.2vw;
  text-align: left;
  line-height: 4vw;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.UTULogo {
  position: absolute;
  width: 6vw;
  height: 4.5vw;
  left: 15vw;
  top: 62vw;
}

.CityofMunichLogo {
  position: absolute;
  width: 16vw;
  height: 5.3vw;
  left: 43vw;
  top: 62vw;
}

.DPSLogo {
  position: absolute;
  width: 11vw;
  height: 5.5vw;
  left: 75vw;
  top: 62vw;
}
.method {
  position: absolute;
  width: 100%;
  height: 65vw;
  left: 0px;
  top: 73vw;
  background-color: #2d403b;
}
.method-text {
  position: absolute;
  /* width: 960px; */
  height: 2.8vw;
  left: 40vw;
  top: 3.5vw;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4vw;
  line-height: 2vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.upload {
  position: absolute;
  left: 14vw;
  right: 76.25vw;
  top: 15.5vw;
  bottom: 65.84vw;
  height: 5vw;
  width: 7.4vw;
  /* Gray 5 */
}

.one {
  position: absolute;
  width: 1vw;
  height: 6vw;
  left: 16vw;
  top: 22vw;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  line-height: 5vw;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #55ceae;
}

.ruleone {
  position: absolute;
  width: 22vw;
  /* height: 196px; */
  left: 6.5vw;
  top: 31vw;
  right: 80vw;
  /* Body 1/ Worksans/ regular/ 24 */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.6vw;
  text-align: left;
  line-height: 2vw;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.analyze {
  position: absolute;
  left: 46vw;
  right: 47vw;
  top: 14.4vw;
  bottom: 65.71vw;
  height: 6vw;
  width: 6.5vw;
}
.two {
  position: absolute;
  width: 1vw;
  height: 6vw;
  left: 48vw;
  top: 22vw;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  line-height: 5vw;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #55ceae;
}

.ruletwo {
  position: absolute;
  width: 22vw;
  /* height: 112px; */
  left: 41vw;
  top: 31vw;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.6vw;
  text-align: left;
  line-height: 2vw;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.mail {
  position: absolute;
  left: 77vw;
  right: 17.92vw;
  top: 15.5vw;
  bottom: 65.83vw;
  height: 5vw;
  width: 6.9vw;
  /* Gray 5 */
}
.three {
  position: absolute;
  width: 1vw;
  height: 6vw;
  left: 79vw;
  top: 22vw;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  line-height: 5vw;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #55ceae;
}
.rulethree {
  position: absolute;
  width: 20vw;
  /* height: 168px; */
  left: 73vw;
  top: 31vw;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.6vw;
  text-align: left;
  line-height: 2vw;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.request {
  position: absolute;
  width: 15vw;
  height: 10vw;
  left: 41vw;
  top: 45vw;
}

.request-button {
  position: absolute;
  width: 20vw;
  height: 4.5vw;
  left: 0%;
  top: 5.5vw;

  background: #55ceae;
  border-radius: 43vw;
  cursor: pointer;
}
.request-button-text {
  position: absolute;
  width: 18vw;
  height: 2vw;
  left: 1vw;
  top: 1vw;

  /* Button / Work Sans / Bold */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.6vw;
  line-height: 2vw;
  text-align: center;

  color: #ffffff;
}
.carousel-text {
  position: absolute;
  width: 60vw;
  height: 2vw;
  left: 20vw;
  top: 6vw;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 2.7vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.carousel-div {
  position: absolute;
  width: 100%;
  height: 68vw;
  left: 0px;
  top: 138vw;
  background-color: #55ceae;
}
.carousel-left {
  position: absolute;
  left: 14.36vw;
  right: 60.14vw;
  top: 18.81vw;
  bottom: 37.85vw;
  width: 22vw;
  height: 17vw;
  border: 0.75vw solid #ffffff;
  box-sizing: border-box;
  /* screens */
  z-index: 1;
  box-shadow: inset 26px -29px 31px 7px rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 1.8vw;
}
.carousel-right {
  position: absolute;
  left: 60.95vw;
  right: 12.15vw;
  top: 18.81vw;
  bottom: 37.85vw;
  width: 22vw;
  height: 17vw;
  border: 0.75vw solid #ffffff;
  box-sizing: border-box;
  z-index: 1;
  /* screens */

  box-shadow: inset 26px -29px 31px 7px rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 1.8vw;
}
.carousel-center {
  position: absolute;
  left: 31.92vw;
  right: 32.71vw;
  top: 15.5vw;
  bottom: 37.08vw;
  width: 35vw;
  height: 23vw;
  border: 0.75vw solid #ffffff;
  box-sizing: border-box;
  z-index: 2;
  /* screens */

  box-shadow: inset 26px -29px 31px 7px rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 1.8vw;
}

.center-title {
  position: absolute;
  width: 36vw;
  height: 4vw;
  /* left: 11.5vw; */
  /* right: 87vw; */
  top: 11vw;
  z-index: 3;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  line-height: 3vw;
  display: block;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.center-description {
  position: absolute;
  left: 31.92vw;
  top: 15.5vw;
  width: 35vw;
  height: 33vw;
  background: rgba(45, 64, 59, 0.5);
  border-radius: 1.8vw;
  z-index: 3;
}
.description-text {
  position: absolute;
  left: 1vw;
  /* right: 35.94%; */
  top: 25vw;
  /* bottom: 34.01%; */
  width: 33vw;
  height: 4vw;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 1.69vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.name {
  display: none;
}
.center:hover + .name {
  display: block;
  position: absolute;
  left: 31.92vw;
  right: 32.71vw;
  top: 15.5vw;
  bottom: 37.08vw;
  width: 35vw;
  height: 23vw;
  background: rgba(45, 64, 59, 0.5);
  border-radius: 1.8vw;
  z-index: 3;
}
.left {
  position: absolute;
  width: 4.5vw;
  height: 4.5vw;
  left: 24vw;
  top: 51vw;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.right {
  position: absolute;
  width: 4.5vw;
  height: 4.5vw;
  left: 70vw;
  top: 51vw;

  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}

.conc {
  position: absolute;
  left: 0%;
  /* right: 50.97%; */
  top: 200vw;
  bottom: 0%;
  width: 100%;
  height: 47vw;
  background: #191932;
}

.concImage {
  position: absolute;
  left: 11.94vw;
  /* right: 76.9%; */
  top: 14.35vw;
  bottom: 56.56%;
  width: 11vw;
  height: 7.5vw;
}

.concText1 {
  position: absolute;
  left: 5.01vw;
  top: 20vw;
  bottom: 32.58%;
  right: 72vw;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 3vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.concInner {
  position: absolute;
  left: 33.13vw;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 47vw;

  background: #ffffff;
  border-radius: 50px 0px 0px 50px;
}
.concText2 {
  position: absolute;
  left: 40.76vw;
  right: 7.57vw;
  top: 16.27vw;
  bottom: 34.13%;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1.6vw;
  line-height: 2.1vw;
  text-align: left;
  color: #000000;
}
.footn {
  position: absolute;
  width: 100%;
  height: 40vw;
  left: 0px;
  top: 247.1vw;
  background-color: #dbe5dd;
}

.footer-image {
  position: absolute;
  left: 4.93vw;
  right: 86.6vw;
  top: 6.52vw;
  bottom: 78.1vw;
  height: 1.8vw;
  width: 11vw;
}

.foot1 {
  position: absolute;
  width: 10vw;
  height: 1vw;
  left: 5vw;
  top: 12vw;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1.1vw;
  line-height: 3.5vw;
  display: flex;
  align-items: center;

  color: #3c386c;
}
div.foot1:hover {
  cursor: pointer;
}

.foot2 {
  top: 14vw;
}

.foot3 {
  top: 16vw;
}

.foot4 {
  position: absolute;
  left: 4.8vw;
  right: 80.32%;
  top: 20vw;
  /* bottom: ; */

  /* Body 2/ Work Sans/ Light */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1.1vw;
  line-height: 2.5vw;
  display: flex;
  align-items: center;
  text-align: left;

  color: #3c386c;
}
.line {
  position: absolute;
  left: 5.15vw;
  right: 5.29vw;
  top: 28vw;

  /* Dark Blue */

  border: 0.1vw solid #5d6b8f;
}

.foot5 {
  position: absolute;
  left: 5.15vw;
  right: 75.1%;
  top: 31vw;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1.1vw;
  line-height: 2vw;
  display: flex;
  align-items: center;

  color: #686985;
}
.footImg1 {
  position: absolute;
  width: 6vw;
  height: 4.5vw;
  left: 79.5vw;
  top: 14vw;
}

.footImg2 {
  position: absolute;
  width: 14vw;
  height: 4.5vw;
  left: 76vw;
  top: 6vw;
}

.footImg3 {
  position: absolute;
  width: 11vw;
  height: 5.5vw;
  left: 78vw;
  top: 21vw;
}

.foot6 {
  position: absolute;
  left: 79.61vw;
  right: 3.48%;
  top: 31vw;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1.1vw;
  line-height: 2vw;
  display: flex;
  align-items: center;

  color: #686985;
}
