.verify {
  background: #55ceae;

  position: absolute;
  width: 100%;
  height: 91%;
  left: 0px;
  top: 9%;
}

.image {
  position: absolute;
  width: 9vw;
  height: 9vw;
  left: 45vw;
  top: 10vw;
}

.text {
  position: absolute;
  width: 100%;
  height: 87px;
  /* left: 24.5vw; */
  top: 22vw;

  /* Subhead 2 / Worksans / Medium / 24 */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8vw;
  line-height: 3vw;
  /* or 29px */

  display: block;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.button {
  position: absolute;
  width: 6vw;
  height: 3vw;
  left: 42vw;
  top: 36vw;
}

.button-text {
  width: 6vw;
  height: 2vw;
  left: 0%;
  top: 0vw;

  /* Button / Work Sans / Bold */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.2vw;
  line-height: 1.2vw;
  text-align: center;

  color: #ffffff;
}
.btn {
  background: #1f4037;
  border-radius: 43vw !important;
  height: 3vw;
  width: 15vw;
  /* Button / Work Sans / Bold */
  top: 0vw;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  text-align: center;

  color: #ffffff;
}
